<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="StatusChangeEmail.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
    <add key="OLEDBconString" value="Provider=OraOLEDB.Oracle.1;Password=sd1exchange;User ID=sdiexchange;Data Source=DEVL"/>
    <add key="ServiceChannelBaseAddress" value="https://sb2api.servicechannel.com/v3"/>
    <add key="WMUName" value="SDIAPI"/>
    <add key="WMPassword" value="WalmartUser!123"/>
    <add key="CBREUName" value="CBRESDI"/>
    <add key="CBREPassword" value="Walmart1!"/>
    <add key="WMClientKey" value="U0IuMjAwMDA1MTI1OS5GNjg2RENCNi0yNDMzLTQ3QjgtOEVCNi0zMDg3QkZERkREM0U6NDkzMTlENDAtRUEzQS00NjY0LUE2MTctRjY2NkQ0QUVBNzA4"/>
    <add key="CBREClientKey" value="U0IuMjAxNDkxNzQzMC4xQkNGMUU2NC04OTQ4LTQyODUtOTRBNi1COTZCNDBGOEQwQTI6Q0E1Rjc3MEItNzMyMy00QjdFLTg4NUQtQUE4MzIzNzBFQTAy"/>
    <add key="ServiceChannelLoginEndPoint" value="https://sb2login.servicechannel.com/oauth/token"/>
    <add key="StartDateNotes" value ="-15"/>
    <add key="rootDir" value="D:\WalmartSCNotes"/>
    <add key="logpath" value="D:\WalmartSCNotes\LOGS\WalmartNotes"/>
    
  </appSettings>
  <applicationSettings>
    <StatusChangeEmail.My.MySettings>
      <setting name="StatusChangeEmail_SDiEmailUtilityService_EmailServices"
          serializeAs="String">
        <value>http://sdixaws2016test:8083/SDIEmailSvc/EmailServices.asmx</value>
      </setting>
    </StatusChangeEmail.My.MySettings>
  </applicationSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>